<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        <div><h1><a class="link" href="/">Task Master</a></h1></div>
        <div>
            <button><a href="/login">Login</a></button>
            <button><a href="/signup">Sign up</a></button>
        </div>

    </div>
    <div class="main">
        <div id="container">
            <h1>Task Manager</h1>
            <form>
                <input type="search" name="search">
                <button>Search</button>
            </form><br><hr><br>
            <h3>List of all task</h3>
            <br>
            <div>
                <div id="items">
                    <div id="task"><h3>Walking with the President</h3><br>
                        <p cllass="description">I have a meeting with the president around 5pm at the st. patrick villa</p><br>
                        <p>Piority:<span>High</span></p>
                    </div>

                    <div class="item-btn">
                        <button>Edit</button>
                        <img src="/delete2.png">  
                    </div>
                </div>
            </div> 
            <div>
                <div id="items">
                    <div id="task"><h3>Walking with the President</h3><br>
                        <p cllass="description">I have a meeting with the president around 5pm at the st. patrick villa</p><br>
                        <p>Piority:<span>High</span></p>
                    </div>

                    <div class="item-btn">
                        <button>Edit</button>
                        <button>Delete</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>