<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        <div><h1><a class="link" href="/">Task Master</a></h1></div>
        <div>
            <button><a href="/">Login</a></button>
            <button><a href="/register">Sign up</a></button>
        </div>

    </div>
    <div class="main">
        <form class="login" action="/login" method="POST">
            <h2>Sign in</h2><br><br>
            <input name="email" type="email" class="username" placeholder="Enter email " required></input><br><br>
            <input name="password" type="password" class="pwd" placeholder="Enter password" requireds></input><br><br>
            <button>Login</button><br><br>
            <p>Click <a href="/signup">here</a> if you don't have account</p>
        </form>
    </div>
    
</body>
</html>