<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header class="header">
        <div><h1><a class="link" href="/">Task Master</a></h1></div>
        <div>
            <button><a href="/">Login</a></button>
            <button><a href="/signup">Sign up</a></button>
        </div>

    </header>
    <main class="main">
        <form class="login" action="/signup" method="POST">
            <h2>Create Account</h2><br><br>
            <input name="username" type="text"  placeholder="Enter username" required></input><br><br>
            <input name="email" type="email" placeholder="Enter email" required></input><br><br>
            <input name="password" type="password" placeholder="Enter password" required></input><br><br>
            <button type="submit">Register</button><br>
            <p>Click <a href="/">here</a> to login</p>
        </form>
    </main>
    <footer class="footer">
        <p>&copy; Copyright 2025 Designed by bintexhimself </p>
      </footer> 
</body>
</html>