* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: auto;
    background-color: #8294b8;
    color: #ffffff;
    padding: 15px;
}
main {
    width: auto;
    /* min-height: calc(100vh -40px -40px); */
    min-height: 75%;
    background-color: #f9f9f9;
    /* min-height: calc(100vh - 10% - 15%); */
}
footer {
    align-content: center;
    text-align: center;
    height: 15%;
    width: auto;
    background-color: #8294b8;
    color: #ffffff;
    padding: 15px;
}
.search {
    width: 80%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey; 
    padding: 10px;
}

button  {
    height: 30px;
    width: 70px;
    background-color: #f9f9f9;
    border-radius: 5px;    
    border: 0.5px solid black;

}

.add-task-btn {
    height: 30px;
    width: 250px;
    background-color: #8294b8;
    color:#ffffff;
    text-decoration: none;
    border-radius: 5px;    
    border: 0.5px solid black;
}

.add-task-btn a {
    color: #ffffff;
}


button a {
    text-decoration: none;
    color: black;
    
}

.login {
    border: none;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px 3px grey;
    width: 350px;
    height: 350px;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    
}

 .login input {
    width: 80%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey; 
    padding: 10px; 
}

.login button {
    width: 80%;
    height: 40px;
    padding: 10px;
    background-color: #8294b8;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

#container {
    height: 70px;
    padding: 20px;
    text-align: center;
    
}

#items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(184, 181, 181);
    margin: 15px;
}
.task-info {
    text-align: left;
}

.item-btn {
    margin: 10px;
    background-color: #8294b8;
    color: white;
    border: none;
}

.item-btn img {
    width: 50px;
    height: 50px;
}
input {
    width: 30%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey; 
    padding: 10px;
}